<div class="block">
  <div class="block_name">
    <p class="block_name-name">{{hero.name}}</p>
    <div class="block_name-avatar">
      <img [src]="getImgUrl()" alt="hero img">
    </div>
  </div>

  <div class="block_stats">
    <p>Combat: {{ hero.powerstats.combat | nullToZero }}</p>
    <p>durability: {{ hero.powerstats.durability | nullToZero }}</p>
    <p>Intelligence: {{ hero.powerstats.intelligence | nullToZero }}</p>
    <p>Power: {{ hero.powerstats.power | nullToZero}}</p>
    <p>Speed: {{ hero.powerstats.speed | nullToZero}}</p>
    <p>Strength: {{ hero.powerstats.strength | nullToZero}}</p>
  </div>

  <div class="block_select">
    <button class="btn btn-block" (click)="selectHero()" [disabled]="!activeButton" #selectBtn>select</button>
  </div>
</div>
