.row {
  margin-bottom: 0;
}
.chips {
  margin: 0 10px;
  padding: 0;
}
.results_amount {
  margin: 10px 0px;
  padding: 5px 10px;
}
.searchForm {
  position: relative;
}
.alphabet {
  position: absolute;
  left: -50px;
  top: 15px;
}
