<div class="container">

  <div class="row">
    <div class="col s12 ">
      <div class="row">
        <div class="col s12 searchForm">
          <label for="first_name">Find hero: </label>
          <input
            placeholder="Enter the hero name"
            id="first_name"
            type="text"
            class="validate"
            [(ngModel)]="name"
            [latestInputValue]="name"
            appInputName
            (keyup.enter)="onInputName()"
          >

          <div class="alphabet">
            <app-alphabet
              (emitLetter)="onFetchByChipOrLetter($event)"
            ></app-alphabet>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="heroesList.length > 0" class="chipsBlock">
    <div class="chipElement"
      *ngFor="let chip of heroesList; trackBy: trackByHeroesList"
    ><span (click)="onFetchByChipOrLetter(chip)">{{chip}}</span>
    </div>
  </div>

  <div class="results">
    <p class="results_amount">Results: {{heroesResults? heroesResults.length : "0"}}</p>

    <div *ngIf="showResultsBlock">
      <app-hero
        *ngFor="let hero of heroesResults; trackBy: trackByHeroesResults"
        [hero]="hero"
      ></app-hero>
    </div>
  </div>
</div>
