.powerupIsPicked {
  background-color: #00b0ff;
  border: 1px solid red;
}
.powerupIsNotPickedPicked {
  background-color: #ccc;
  border: 1px solid black;
}
.header_name {
  color:  #26A69A;
  margin: 10px 0 20px 0;
  font-weight: bold;
}
.powerup {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px;
  & img {
    height: 50px;
    width: 50px;
  }
  & .smallBlock {
    width: 15%;
  }
  & .bigBlock {
    width: 70%;
  }
}
.title {
  font-weight: bold;
  margin: 0;
}
