@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
$fontFamily: "Montserrat";
$minWidth: 320px;

/* Обнуление*/
* {padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height: 100%; min-width: $minWidth;}
body{line-height: 1;font-size: 14px;font-family: $fontFamily;-ms-text-size-adjust: 100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family: $fontFamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul.li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

// animation-play-state: paused !important;
// -webkit-overflow-scrolling: touch;
/*-------------*/

@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin anim($time,$delay) {-webkit-transition: all $time ease $delay; -moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time,$delay) {-webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay; -moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;-ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;-o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;}
@mixin animate($name,$time,$infinite,$type) {-webkit-animation: $name $time+s $infinite $type; -moz-animation: $name $time+s $infinite $type; -ms-animation: $name $time+s $infinite $type; -o-animation: $name $time+s $infinite $type; animation: all $name $time+s $infinite $type;}
@mixin skew($num){-moz-transform: skewX($num);-ms-transform: skewX($num);-webkit-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h) {display: flex; flex-direction: column; height: $h; text-align: center; align-items: stretch; justify-content: center;}
@mixin tr($x,$y,$z){transform:translate3d($x,$y,$z);-webkit-transform:translate3d($x,$y,$z);-ms-transform:translate3d($x,$y,$z);-o-transform: translate3d($x,$y,$z);-moz-transform:translate3d($x,$y,$z);}
@mixin flexOrder($val){-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}

//@mixin flexboxinline(){display:-webkit-inline-flex;display:-moz-inline-flex;display:-ms-inline-flex;display:-o-inline-flex;display:inline-flex;}
//@mixin flexbox(){display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; display:-o-box; font-size:0; }
